@media screen and (max-width: 970px) {
    .wrap{ width: 100%; }
    #main_nav .wrap{ display: none; }
    #mascot{ display: none; }
    #main_title {
        position: relative;
        left: 0px;
        margin-left: auto;margin-right: auto;
    }
    #main_body .wrap .main_body_left, #main_body .wrap .main_body_right {
        margin-left: 10px;
        width: calc(100% - 20px);height: auto;
        float: none;
    }
    #main_body .wrap .main_body_right{ margin-top: 20px; }
    .announce_element { background-image: none; }
    .announce_element .thumbnail { display: none; }
    .announce_element .title { 
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        padding-left: 10px; 
        background-color: #d14641;
        color: #FFF;
    }
    .announce_element .body { 
        padding-left: 10px;
        padding-right: 10px; 
    }
    #footer .footer_left, #footer .footer_right{
        float: none;
        width: auto;height: auto;
        text-align: center;
    }
}